body {
  background-image: url("background.jpg");
  background-size: cover;
}

#leftArea {
  float: left;
  width: 50%;
  height: 100%;
}
#charaSheetArea {
  margin-top: 2vh;
  height: 85vh;
  width: 95%;
  background-color: rgba(255, 255, 255, 0.75);
}

#copyButton {
  width: 95%;
  height: 10vh;
  background-color: rgba(80, 80, 200, 0.75);
  color: white;
}

h2 {
  margin: 0;
  font-size: 20px;
}

h3 {
  margin: 0;
  font-size: 12px;
}

p {
  margin: 0;
}

#rightArea {
  float: right;
  width: 50%;
}

.area {
  background-color: rgba(200, 200, 220, 0.7);
  padding: 5px;
  border-top: 1px solid #111;
  border-bottom: 1px solid #111;
}

.stateValueWrapper {
  color: white;
}

select {
  margin-right: 10px;
}

input {
  margin: 5px;
}

.area button {
  margin-left: 10px;
}
